#root{
  /* height: 100vh; */
  min-height: 100px;
  width: 98vw;
  background-color: #dadada;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
  width: 250px;
  height: 260px;
  /* border: 2px solid black; */
  background-color: #fafafa;
  border-radius: 20px;
  padding: 10px;
}

.top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px ;
}
.top img{
  width: 60px;
  height: 60px;
  object-fit:cover;
  border-radius: 40px;
  border: 3px solid #ece9e9;
}
.side{
  display: flex;
}
.side .book-mark {
  height: 22px;
}

.side button{
  color: black;
  height: 22px;
  border-radius: 4px;
  padding: 2px 6px;
  border: 1px solid black;
  font-size: 15px;
}

.center h2{
  font-size: 16px;
}
.center span{
  font-size: 10px;
}
.btns{
  height: 22px;
  display: flex;
  gap: 5px;
  margin-bottom: 20px ;
}
 .bottom {
  margin-top: 10px;
  display: flex;
   font-size: 10px;
   gap: 20px;
   /* justify-content: center; */
   align-items: center;
   font-size: 9px;
}
.bottom button{
  background-color: black;
  color: #dadada;
  border-radius: 5px;
  /* height: 30px; */
  padding: 4px 2px;
  border: 1px solid black;
  font-size: 13px;
}

.bottom p{
  font-size: 13px;
}

.center button{
  color: black;
  height: 22px;
  border-radius: 4px;
  padding: 1px 6px;
  /* border: 1px solid black; */
  font-size: 14px;
}
.center{
  border-bottom: 1px solid rgb(194, 194, 194);
}

 
