#root{
 display: flex;
  flex-wrap: wrap;
  gap: 10px;
    text-align: center;
    justify-content: space-evenly;
}


.parent{
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */


}

.card{
  border:2px solid black;
  border-radius: 10px;
  background-color: rgb(232, 219, 219);
  padding: 10px;
  color: rgb(34, 32, 32);
  width: 240px;
  /* text-align:center; */
  
}
.card img{
  width: 100px;
  height: 100px;
  object-fit:cover;
  border-radius: 10vw;
}

.card h2{
  text-align:start;
  padding: 2px;
}

.card button{
  padding: 10px 60px;
}